.div{
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

.div img{
    max-width: 100%;
    height: auto;
    
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}